.DS_Store
*.root

# Data
trains
trains/
output
output/
toyInput
# Mazama specific (with copies on slow and fast drives)
trains_HD
trains_SSD
pc059/

# Virtualenv
env/
.venv/

# Misc
temp/
.vscode/
bak/
# Batch submission is now handled by parsl
batch/

# Python
__pycache__/
ipynb_checkpoints/
.ipynb_checkpoints/
.mypy_cache/
.python-version
# parsl
monitoring.db
runinfo/

# Packaging
dist/
jet_substructure.egg-info/

# Compiled
bin/
build/
lib/

