.DS_Store
*.root

# Data
trains

# Virtualenv
env/
.venv/

# Misc
temp/

# Python
__pycache__/
ipynb_checkpoints/
.ipynb_checkpoints/
.mypy_cache/
.python-version

# Packaging
dist/
jet_substructure.egg-info/

# Compiled
bin/
build/
lib/
